body {
    background: linear-gradient(to right, #e6e6ff, #5550FF);
    /*height: 130vh;*/

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {

  margin-top: 10px;
    max-width: 900px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.83);
    border-radius: 10px;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 10px;

}

.left-section {
    background-color: #fff;
    padding: 40px;
}

.left-section img {
    max-width: 200px;
    /* Aumenta el tamaño del logo */
    margin-bottom: 20px;

}

.right-section {
    background: linear-gradient(to bottom, #e6e6ff, rgb(149, 149, 149));
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-primary {
    background-color: #5550FF;
    border-color: #5550FF;
}

.text-primary {
    color: #5550FF !important;
}

.btn-primary:hover {
    background-color: #4640d9;
    border-color: #4640d9;
}

.bg-primary {
    background-color: #5550FF !important;
}

.feature-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    flex: 1;
}